<section id="home" name="home"></section>
<div id="headerwrap">
	<div class="container">
		<br>
		<h1>The Elder Scrolls</h1>
		<h2> Forum | Fan Site</h2>
		<div class="row">
			<br>
			<br>
			<br>
			<div class="col-lg-6 col-lg-offset-3">
			</div>
		</div>
	</div><!-- /container -->
</div><!-- /headerwrap -

<!-- ========== WHITE SECTION ========== -->
<div id="w">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
			<h3>WELCOME TO <bold>The Elder Scrolls</bold>. <bold>Forum</bold> Here You will Get Anything <bold>About the Series</bold>. <br/>
			</h3>
			</div>
		</div>
	</div><!-- /container -->
</div><!-- /w -->
<% @messages.each do |message| %>
    <div class= "col-md-10 col-md-offset-1" id="msg-body">
        <div class="message">
            <h2 class="message-title"><%= message.title %></h2>
            <%= link_to "Join Conversation", message, class:"btn-custom", style:"color:white" %>
        </div>
    </div>
<% end %>



